body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: white;
  margin: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  div#main {
    width: 100%;
    height: 100%;

    div#error {
      top: 0;
      transition: all 1s;
      position: fixed;
      width: 100%;
      height: 100%;
      background: pink;
      opacity: 0.5;

      display: flex;
      justify-content: center;
      align-items: center;

      &.hidden {
        top: 50%;
        width: 0;
        height: 0;
      }
    }

    div#main-container {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;

      div#tabs {
        width: 400px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        div {
          transition: all 0.5s;
          width: 100%;
          color: inherit;
        }

        h1 {
          color: black;
        }

        div.tab {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          background: blue;
          border-radius: 10px;
        }

        div#reset div.large-tab {
          background: red;
        }

        div.large-tab {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 75px;
          background: purple;
          border-radius: 10px;

          & ~ div {
            position: relative;
            top: 0%;
          }

          &:not(.active) {
            & ~ div {
              top: 50%;
              height: 0;
              font-size: 0;
            }

            & ~ h1 {
              opacity: 0;
              height: 0;
              margin: 0;
            }
          }
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          height: 80%;
          position: relative;
          top: 0;

          select {
            width: 100%;
          }

          input {
            position: relative;
            top: 0;
            height: 40px;
            width: 100%;
          }

          label {
            color: black;
          }
        }

        div.normal {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;

          &#signup, &#new-color, &#new-building {
            height: 220px;
          }

          &#add-particles {
            height: auto;
            form {
              display: flex;
              // height:auto;
              justify-content: space-around;
              // height: 200px;
            }
          }

          &#get-buildings-bbox {
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            form {
              div#bbox {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                input[type="number"] {
                  width: 50px;
                  height: 50px;
                }
              }

              div#team-only {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;

                input {
                  width: 30px;
                }
              }
            }

            h1.normal {
              width: 100%;
              text-align: center;
            }
          }

          &#add-city {
            height: 240px;
            flex-wrap: wrap;

            form {
              height: 100%;

              div#buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                input, button {
                  width: 30%;
                }
              }
            }

            &.loadingBuildings {
              height: 700px;

              form {
                height: 240px;
              }
            }

            div#map {
              width: 400px;
              height: 400px;

              &.hidden {
                width: 0px;
                height: 0px;
              }
            }

            .hidden {
              width: 0px;
              height: 0px;
            }

            div#bbox {
              height: 40px;
              display: flex;
              justify-content: space-around;
              flex-wrap: wrap;

              input {
                width: 50px;
                height: 100%;
              }
            }
          }

          &#reset-db {
            height: 250px;

            form {
              div.checklist {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                div.option {
                  width: 25%;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;

                  input {
                    width: 20px;

                    &[type="checkbox"] {
                      transition: none;
                    }
                  }

                  label {
                    transition: none;
                  }
                }
              }
            }
          }

          &#get-building-info, &#get-team-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 175px;

            h1 {
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
            }
          }

          &#user-data {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: black;
          }

          &#user-data {
            height: 390px;
            align-items: flex-start;

            h1 {
              font-size: 18px;
            }
          }

          &#facebook {
            height: 50px;
            align-items: center;

            a {
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 80%;
              opacity: 1;
              background: lighten(blue, 10%);
              color: white;
            }
          }
        }

        div.hidden {
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;

          form, h1, a {
            font-size: 0px;
            height: 0px;
            border: none;
            opacity: 0;
            top: 50%;

            input {
              top: 50%;
              width: inherit;
              height: inherit;
              outline-color: red;
              border: none;
            }
          }
        }
      }
    }
  }
}
